.header {
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dadde1;
}

.container {
  max-width: 1440px;
  height: 72px;
  margin: 0 auto;
  padding: 0 64px;

  display: flex;
  align-items: center;

  position: relative;

  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 32px;
}

.link {
  color: #101828;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  color: #829b91;
}
